/.env
/logs/*
!/logs/do_not_delete.txt
/temp/*
!/temp/do_not_delete.txt

/uploads/centresCouts/*
!/uploads/centresCouts/do_not_delete.txt
/uploads/commandes/*
!/uploads/commandes/do_not_delete.txt
/uploads/vehicules/*
!/uploads/vehicules/do_not_delete.txt
/uploads/vhfCanaux/*
!/uploads/vhfCanaux/do_not_delete.txt
/uploads/vhfEquipements/*
!/uploads/vhfEquipements/do_not_delete.txt
/uploads/vhfPlans/*
!/uploads/vhfPlans/do_not_delete.txt

*.pem